<!--The content below is only a placeholder and can be replaced.-->


<ul>
  <li *ngFor='let post of postA'>
      <span
       class="status"
       [class.checked-in]="post.ativo"
       ></span> {{ post.body }}
  </li>
</ul>


<ul>
  <li *ngFor='let post of postA'>
      <span
       class="status"
       [ngClass]="{ 
         'checked-in': post.ativo,
         'checked-out': !post.ativo
        }"
       ></span> {{ post.body }}
  </li>
</ul>



<ul>
  <li *ngFor='let post of postA'>
      <span
       class="status"
        [style.backgroundColor]="(post.ativo ? 'blue' : 'red')"
       ></span> {{ post.body }}
  </li>
</ul>




<ng-template [ngIf]="title.length">
  <div>
      {{ title }}
  </div>

</ng-template>